.hamburger {
    &-animation-close {
        animation-name: hamburger-animation-close;
        animation-duration: .7s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }

    &-animation-open {
        animation-name: hamburger-animation-open;
        animation-duration: .7s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
    }
}

@media(min-width:$xs-bp) {
    @keyframes hamburger-animation-open {
        from {
            transform: translateX(155%);
        }

        to {

            transform: translateX(50%);
        }
    }

    @keyframes hamburger-animation-close {
        from {
            transform: translateX(50%);
        }

        to {

            transform: translateX(155%);
        }
    }
}
@media(min-width:$sm-bp) {
    @keyframes hamburger-animation-open {
        from {
            transform: translateX(200%);
        }

        to {

            transform: translateX(300%);
        }
    }

    @keyframes hamburger-animation-close {
        from {
            transform: translateX(300%);
        }

        to {

            transform: translateX(200%);
        }
    }
}
@media(min-width:$md-bp) {
    @keyframes hamburger-animation-open {
        from {
            transform: translateX(300%);
        }

        to {

            transform: translateX(400%);
        }
    }

    @keyframes hamburger-animation-close {
        from {
            transform: translateX(400%);
        }

        to {

            transform: translateX(300%);
        }
    }
}