@media (min-width: $xs-bp) {
    .display-none{
        display: none;
    }
    .hamburger {
        z-index: 100;
        height: 0rem;
        width: 1px;
        &__bar {
            cursor: pointer;
            right: 2rem;
            width: 2rem;
            position: fixed;
            height: 4.6px;
            border-radius: 100px;
            background: black;
            &:first-of-type {
                margin-top: -.5rem;
            }
            &:last-of-type {
                margin-top: .5rem;

            }

        }
    }

    .header {
        &__logo {
            height: 3.5rem;
        }

        &__cont-list {
            position: fixed;
            border-left: 1px solid black;
            position: fixed;
            z-index: 90;
            height: 100vh;
            padding-top:3rem;
            margin-top: 45vh;
        }

        &__list {
            font-family: 'Roboto', sans-serif;
            align-content: flex-start;
            &-item {
                padding: 0.5rem;
                border-bottom: 1px solid #bbbbbb;
            }
        }

    }
}