@media (min-width: $lg-bp){
    .hamburger{
        display: none;
    }
    .header{
        height: 5rem;
        &__logo{
            height: 5rem;
        }
        &__cont-list{
            display: block;
            position: relative;
            justify-content: flex-end;
        }
        &__list{
            margin: 0;
            &-item{
                padding: 0;
                border: none;
            }
        }
    }
}