/* breakpoints */
@media (min-width: 0) {
  .display-none {
    display: none; }
  .hamburger {
    z-index: 100;
    padding-left: 0;
    padding-top: 2rem;
    height: 2rem;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    width: 0px; }
    .hamburger__close {
      -webkit-transition: 1s all;
      transition: 1s all;
      position: fixed;
      background: transparent;
      width: 100vw;
      height: 100vh; }
    .hamburger__bar {
      cursor: pointer;
      right: 2rem;
      width: 2rem;
      position: fixed;
      height: 3.6px;
      border-radius: 100px;
      background: white;
      -webkit-transition: background 1s;
      transition: background 1s; }
      .hamburger__bar:first-of-type {
        margin-top: -.5rem; }
      .hamburger__bar:last-of-type {
        margin-top: .5rem; }
  .header {
    background: transparent;
    position: fixed;
    height: 3rem;
    z-index: 20;
    width: 100%;
    -webkit-transition: 1s all;
    transition: 1s all; }
    .header__cont-heading {
      font-size: 1.5rem; }
    .header__scrolled {
      background: rgba(247, 248, 248, 0.8);
      -webkit-transition: 1s all;
      transition: 1s all; }
      .header__scrolled .header__heading {
        -webkit-transition: color 1s;
        transition: color 1s;
        color: #343a40 !important; }
      .header__scrolled .hamburger__bar {
        background: black; }
      .header__scrolled .header__cont-list {
        -webkit-transition: 1s all;
        transition: 1s all; }
      .header__scrolled .header__logo {
        -webkit-filter: none;
        filter: none; }
    .header__logo {
      height: 3rem;
      -webkit-filter: invert(1);
      filter: invert(1);
      -webkit-transition: 1s -webkit-filter;
      transition: 1s -webkit-filter;
      transition: 1s filter;
      transition: 1s filter, 1s -webkit-filter; }
    .header__link {
      color: #343a40 !important; }
    .header__cont-list {
      position: fixed;
      border-left: 1px solid black;
      z-index: 90;
      -webkit-transform: translateY(45%);
      transform: translateY(45%);
      height: 100vh;
      padding-top: 3rem; }
    .header__list {
      font-family: 'Roboto', sans-serif;
      -ms-flex-line-pack: start;
      align-content: flex-start; }
      .header__list-item {
        padding: 0.5rem;
        border-bottom: 1px solid #bbbbbb; } }

.container {
  -webkit-transition: 1s all;
  transition: 1s all;
  position: relative;
  z-index: 10;
  overflow: hidden; }

@media (min-width: 0) {
  .hamburger__bar {
    -webkit-transition: 1s all;
    transition: 1s all; }
  .hamburger-barAnimation .hamburger__bar {
    -webkit-transition: 1s all;
    transition: 1s all;
    background: black; }
    .hamburger-barAnimation .hamburger__bar--first {
      -webkit-transform: rotate(-45deg) translate(-1px, 10px);
      transform: rotate(-45deg) translate(-1px, 10px); }
    .hamburger-barAnimation .hamburger__bar--second {
      opacity: 0; }
    .hamburger-barAnimation .hamburger__bar--third {
      -webkit-transform: rotate(45deg) translate(-1px, -10px);
      transform: rotate(45deg) translate(-1px, -10px); }
  .hamburger-container-unexpanded {
    left: 0; }
  .hamburger-container-expanded {
    left: -66%; }
    .hamburger-container-expanded .hamburger__close {
      position: fixed;
      display: block;
      width: 100vw;
      height: 100vh;
      z-index: 1;
      -webkit-transition: 1s all;
      transition: 1s all;
      background: rgba(4, 4, 4, 0.8);
      left: 0;
      top: 0; }
    .hamburger-container-expanded .header__cont-list {
      background: white; }
  .hamburger-list-unexpanded {
    right: -68%;
    overflow: auto;
    -webkit-transition: 1s all;
    transition: 1s all; }
  .hamburger-list-expanded {
    overflow: auto;
    right: 0;
    -webkit-transition: 1s all;
    transition: 1s all; } }

@media (min-width: 576px) {
  .hamburger-container-expanded {
    left: -33%; }
  .hamburger-list-unexpanded {
    right: -35%; } }

@media (min-width: 768px) {
  .hamburger-container-expanded {
    left: -25%; }
  .hamburger-list-unexpanded {
    right: -25%; } }

@media (min-width: 992px) {
  .hamburger {
    display: none; }
  .display-none {
    display: block; }
  .header {
    background: transparent;
    position: fixed;
    height: 4rem;
    z-index: 20;
    width: 100%;
    -webkit-transition: 1s all;
    transition: 1s all; }
    .header__scrolled {
      background: rgba(247, 248, 248, 0.8);
      -webkit-transition: 1s all;
      transition: 1s all; }
      .header__scrolled .header__cont-list {
        background: transparent !important;
        -webkit-transition: 1s all;
        transition: 1s all; }
      .header__scrolled a {
        color: #343a40 !important;
        -webkit-transition: color 1s;
        transition: color 1s; }
    .header__logo {
      height: 4rem; }
    .header__link {
      color: #f8f9fa !important; }
    .header__cont-list {
      background: transparent;
      display: block;
      right: 0;
      border: none;
      position: relative;
      height: auto;
      padding: 0;
      margin: 0;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      -webkit-animation-name: none;
      animation-name: none;
      -webkit-transform: translateY(0);
      transform: translateY(0); }
    .header__list {
      margin: 0; }
      .header__list-item {
        padding: 0;
        border: none; } }

@media (min-width: 576px) {
  .container {
    max-width: none; }
  .slider {
    height: 50%;
    overflow: hidden; }
    .slider__img {
      filter: grayscale(70%) blur(2.5px);
      -webkit-filter: grayscale(70%) blur(2.5px);
      height: 50%;
      -webkit-transform: scale(1.1);
      transform: scale(1.1); }
    .slider__heading {
      padding: 0 15vw; } }

.slider {
  height: 50%;
  overflow: hidden; }
  .slider__img {
    width: 100vw;
    filter: grayscale(70%) blur(2.5px);
    -webkit-filter: grayscale(70%) blur(2.5px);
    height: 50%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1); }
  .slider__video {
    width: 100%;
    height: 100%; }
  .slider__heading {
    font-family: 'Open Sans', sans-serif;
    padding: 0 15vw; }

@media (min-width: 768px) {
  .slider__heading {
    font-size: 2.5rem; } }

@media (min-width: 992px) {
  .slider {
    margin-top: 0rem; }
    .slider__img {
      height: 40rem; } }

@media (min-width: 0) {
  .card__background {
    background-image: url(../images/section2-background.svg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; }
  .card__circle {
    width: 10rem;
    height: 10rem;
    -ms-flex-item-align: center;
    align-self: center; }
  .card__icon {
    text-align: center;
    width: 6rem;
    height: 100%; }
  .card__heading {
    font-family: 'Open Sans', sans-serif; }
  -text {
    font-family: 'Roboto', sans-serif; } }

.card-animation {
  -webkit-animation-name: card-animation;
  animation-name: card-animation;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s; }

@-webkit-keyframes card-animation {
  from {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; } }

@keyframes card-animation {
  from {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
    opacity: 0; }
  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    opacity: 1; } }

@media (min-width: 576px) {
  .card-img {
    height: 7rem; } }

@media (min-width: 768px) {
  .card-img {
    height: 20vw; } }

@media (min-width: 992px) {
  .card-img {
    height: 15vw; } }

.last-sec__article {
  overflow: hidden;
  height: 18rem;
  position: relative; }

.last-sec__image {
  text-align: center;
  display: block;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: -1; }
  .last-sec__image--udemy {
    width: 100%; }

.last-sec__link:hover .last-sec__header,
.last-sec__link:hover .last-sec__caption {
  color: transparent !important;
  border-top: none;
  -webkit-transition: 0.4s all;
  transition: 0.4s all; }

.last-sec__cont {
  height: 100%; }
  .last-sec__cont--light-blue {
    background-color: rgba(111, 195, 223, 0.9);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .last-sec__cont--light-blue:hover {
      background-color: rgba(111, 195, 223, 0.1); }
  .last-sec__cont--violet {
    background-color: rgba(141, 130, 196, 0.9);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .last-sec__cont--violet:hover {
      background-color: rgba(141, 130, 196, 0.1); }
  .last-sec__cont--red {
    background-color: rgba(236, 141, 129, 0.9);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .last-sec__cont--red:hover {
      background-color: rgba(236, 141, 129, 0.1); }
  .last-sec__cont--yellow {
    background-color: rgba(231, 183, 136, 0.9);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .last-sec__cont--yellow:hover {
      background-color: rgba(231, 183, 136, 0.1); }
  .last-sec__cont--blue {
    background-color: rgba(142, 169, 232, 0.9);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .last-sec__cont--blue:hover {
      background-color: rgba(142, 169, 232, 0.1); }
  .last-sec__cont--green {
    background-color: rgba(135, 197, 164, 0.9);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transition: all 1s;
    transition: all 1s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out; }
    .last-sec__cont--green:hover {
      background-color: rgba(135, 197, 164, 0.1); }

.last-sec__header {
  width: 80%;
  height: 2rem;
  position: absolute;
  top: 4rem;
  left: 3rem; }

.last-sec__caption {
  width: 70%;
  border-top: 2px solid white;
  top: 7rem;
  left: 1rem;
  padding: 0.5rem;
  text-align: start;
  position: absolute; }

@media (min-width: 992px) {
  .last-sec__image--udemy {
    height: 100%;
    width: auto; } }

.last-sec-left-anim {
  -webkit-animation-name: last-sec-left-anim;
  animation-name: last-sec-left-anim;
  -webkit-animation-duration: 1s;
  animation-duration: 1s; }

@-webkit-keyframes last-sec-left-anim {
  from {
    position: relative;
    left: 100%; }
  to {
    position: relative;
    left: 0; } }

@keyframes last-sec-left-anim {
  from {
    position: relative;
    left: 100%; }
  to {
    position: relative;
    left: 0; } }

.last-sec-right-anim {
  -webkit-animation-name: last-sec-right-anim;
  animation-name: last-sec-right-anim;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out; }

@-webkit-keyframes last-sec-right-anim {
  from {
    position: relative;
    right: 100%; }
  to {
    position: relative;
    right: 0; } }

@keyframes last-sec-right-anim {
  from {
    position: relative;
    right: 100%; }
  to {
    position: relative;
    right: 0; } }

.footer {
  text-align: center; }
  .footer span {
    padding-bottom: 1rem; }
  .footer__icon {
    width: 1.5rem;
    padding-top: 1rem;
    height: 1.5rem;
    color: #909090;
    text-align: center; }
