/* breakpoints */
@media (min-width: 0) {
  .display-none {
    display: none; }
  .hamburger {
    z-index: 3;
    height: 0rem;
    width: 1px; }
    .hamburger__bar {
      cursor: pointer;
      right: 2rem;
      width: 2rem;
      position: fixed;
      height: 4.6px;
      border-radius: 100px;
      background: black; }
      .hamburger__bar:first-of-type {
        margin-top: -.5rem; }
      .hamburger__bar:last-of-type {
        margin-top: .5rem; }
  .header__logo {
    width: 8rem; }
  .header__cont-list {
    border-left: 1px solid black;
    position: fixed;
    z-index: 2;
    height: 100vh;
    padding-top: 3rem;
    margin-top: 45.5vh; }
  .header__list {
    align-content: flex-start; }
    .header__list-item {
      padding: 0.5rem;
      border-bottom: 1px solid #bbbbbb; } }

.hamburger-animation-close {
  animation-name: hamburger-animation-close;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

.hamburger-animation-open {
  animation-name: hamburger-animation-open;
  animation-duration: .7s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@media (min-width: 0) {
  @keyframes hamburger-animation-open {
    from {
      transform: translateX(155%); }
    to {
      transform: translateX(50%); } }
  @keyframes hamburger-animation-close {
    from {
      transform: translateX(50%); }
    to {
      transform: translateX(155%); } } }

@media (min-width: 576px) {
  @keyframes hamburger-animation-open {
    from {
      transform: translateX(200%); }
    to {
      transform: translateX(300%); } }
  @keyframes hamburger-animation-close {
    from {
      transform: translateX(300%); }
    to {
      transform: translateX(200%); } } }

@media (min-width: 768px) {
  @keyframes hamburger-animation-open {
    from {
      transform: translateX(300%); }
    to {
      transform: translateX(400%); } }
  @keyframes hamburger-animation-close {
    from {
      transform: translateX(400%); }
    to {
      transform: translateX(300%); } } }

@media (min-width: 992px) {
  .hamburger {
    display: none; }
  .display-none {
    display: block; }
  .header {
    height: 5rem; }
    .header__logo {
      height: 5rem; }
    .header__cont-list {
      display: block;
      border: none;
      height: auto;
      padding: 0;
      margin: 0;
      position: relative;
      justify-content: flex-end;
      animation-name: none; }
    .header__list {
      margin: 0; }
      .header__list-item {
        padding: 0;
        border: none; } }

@media (min-width: 576px) {
  .container {
    max-width: none; }
  .slider {
    height: 50%;
    overflow: hidden; }
    .slider__img {
      filter: grayscale(70%) blur(2.5px);
      -webkit-filter: grayscale(70%) blur(2.5px);
      height: 50%;
      transform: scale(1.1); }
    .slider__heading {
      padding: 0 15vw; } }

.slider {
  height: 50%;
  overflow: hidden; }
  .slider__img {
    width: 100vw;
    filter: grayscale(70%) blur(2.5px);
    -webkit-filter: grayscale(70%) blur(2.5px);
    height: 50%;
    transform: scale(1.1); }
  .slider__heading {
    padding: 0 15vw; }

@media (min-width: 768px) {
  .slider__heading {
    font-size: 2.5rem; } }

@media (min-width: 992px) {
  .slider__img {
    height: 40rem; } }

@media (min-width: 0) {
  .card {
    visibility: hidden; }
    .card__background {
      background-image: url(../../images/section2-background.svg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; }
    .card__circle {
      width: 10rem;
      height: 10rem;
      align-self: center; }
    .card__icon {
      text-align: center;
      width: 6rem;
      height: 100%; } }

.card-animation {
  animation-name: card-animation;
  animation-timing-function: ease-out;
  animation-duration: 1s;
  visibility: visible; }

@keyframes card-animation {
  from {
    transform: translateY(6%);
    opacity: 0; }
  to {
    transform: translateY(0%);
    opacity: 1; } }

@media (min-width: 768px) {
  .card-img {
    height: 20vw; }
  .card {
    margin: 0 0.2rem; }
    .card:first-child {
      margin-left: 1rem; }
    .card:last-child {
      margin-right: 1rem; } }

@media (min-width: 992px) {
  .card-img {
    height: 17vw; } }
