/* breakpoints */
@media (min-width: 0) {
  .disp-none {
    display: none; }
  .hamburger {
    z-index: 3;
    height: 0rem;
    width: 1px; }
    .hamburger__bar {
      cursor: pointer;
      right: 2rem;
      width: 2rem;
      position: absolute;
      height: 4.6px;
      border-radius: 100px;
      background: black; }
      .hamburger__bar:first-of-type {
        margin-top: -.50rem; }
      .hamburger__bar:last-of-type {
        margin-top: .50rem; }
  .header__logo {
    width: 8rem; }
  .header__cont-list {
    position: fixed;
    z-index: 2; }
  .header__list {
    margin: 0;
    margin-top: 10rem; }
    .header__list-item {
      padding: 0.5rem;
      border-bottom: 1px solid #bbbbbb; } }

@media (min-width: 992px) {
  .hamburger {
    display: none; }
  .header {
    height: 5rem; }
    .header__logo {
      height: 5rem; }
    .header__cont-list {
      display: block;
      position: relative;
      justify-content: flex-end; }
    .header__list {
      margin: 0; }
      .header__list-item {
        padding: 0;
        border: none; } }

@media (min-width: 576px) {
  .container {
    max-width: none; }
  .slider {
    height: 50%;
    overflow: hidden; }
    .slider__img {
      filter: grayscale(70%) blur(2.5px);
      -webkit-filter: grayscale(70%) blur(2.5px);
      height: 50%;
      transform: scale(1.1); }
    .slider__heading {
      padding: 0 15vw; } }

.slider {
  height: 50%;
  overflow: hidden; }
  .slider__img {
    width: 100vw;
    filter: grayscale(70%) blur(2.5px);
    -webkit-filter: grayscale(70%) blur(2.5px);
    height: 50%;
    transform: scale(1.1); }
  .slider__heading {
    padding: 0 15vw; }

@media (min-width: 768px) {
  .slider__heading {
    font-size: 2.5rem; } }
