.last-sec-left-anim{
    animation-name: last-sec-left-anim;
    animation-duration: 1s;

    animation-timing-function: ease-in-out;
}
@keyframes last-sec-left-anim{
    from{
        position: relative;
        left: 100%;
    }
    to{
        position: relative;
        left: 0;
    }
}
.last-sec-right-anim{
    animation-name: last-sec-right-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}
@keyframes last-sec-right-anim{
    from{
        position: relative;
        right: 100%;
    }
    to{
        position: relative;
        right: 0;
    }
}