.slider {
    height: 50%;
    overflow: hidden;
    &__img{
        width: 100vw;
        filter: grayscale(70%) blur(2.5px);
        -webkit-filter: grayscale(70%) blur(2.5px);
        height: 50%;
        transform: scale(1.1);
    }
    &__heading{
        padding: 0 15vw;
    }
}