.third-section {
    &__article {
        overflow: hidden;
    }

    &__cont {
        position: relative;
        z-index: 5;
        transform: scale(1.1);
        height: 20rem;
    }

    &__image {
        height: 100%;
        background:
            linear-gradient(rgba(55, 0, 0, .65),
            rgba(55, 0, 0, .65)),
            url(../images/section1.1.jpeg);
        background-repeat: no-repeat;
        background-position: center;

        &--light-blue {
            @include background(111, 195, 223, "../images/section3/section3.1.jpg");
        }

        &--violet {
            @include background(141, 130, 196, "../images/section3/section3.2.png")
        }

        &--red {
            @include background(236,141,129, "../images/section3/section3.2.png")
        }

        &--yellow {
            @include background(231,183,136, "../images/section3/section3.2.png")
        }

        &--blue {
            @include background(142,169,232, "../images/section3/section3.2.png")
        }

        &--green {
            @include background(135,197,164, "../images/section3/section3.2.png")
        }
    }

    &__header {

        width: 80%;
        height: 2rem;
        position: relative;
        top: 4.8rem;
        right: -3rem;
    }

    &__caption {
        width: 70%;
        border-top: 2px solid white;
        top: 7rem;
        left: 1rem;
        padding: 0.5rem;
        text-align: start;
        position: absolute;

    }
}