.card-animation{
    animation-name: card-animation;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}
@keyframes card-animation{
    from{
        transform: translateY(6%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 1;
    }
}